h1{
    color: white;
    font-size:18;
    /* font-family: ; */
}

body{
    background-color: #56a0d3;
}

h5,h3{
    color: white;
    font-size: 24;
}

p{
    text-indent: 20px;
}

hr{
    color:blueviolet;
    height: 10px;
    width: 50%;

}